@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../../public/Inter-VariableFont_slnt\,wght.ttf") format("truetype")
    tech("variations");
}

* {
  font-family: "Inter";
}
